@font-face
{
	font-family:'Raleway', sans-serif;
	src:url('/bacs200/resume/css/Fonts/Raleway-Regular.ttf') format('truetype');
}

p, h1, h2, h3
{
	font-family:'Raleway';
}

body
{
    background-color:#FFB6C1;
}
