html {
    display: block;
}
head {
    display: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
meta {
    display: none;
}
title {
    display: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
link {
    display: none;
}
body {
    display: block;
    margin: 8px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
header {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
h1 {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
main {
    display: block;
}
section {
    display: block;
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
footer {
    display: block;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}

