@font-face {
  font-family: 'Raleway', sans-serif;
  src:url("fonts/Raleway.ttf") format('truetype');
  font-style:normal;
}
@font-face {
  font-family: 'Raleway', sans-serif;
  src:url("fonts/Raleway-Bold.ttf") format('truetype');
  font-style:bold;
}
@font-face {
  font-family: 'Raleway', sans-serif;
  src:url("fonts/Raleway-Italic.ttf") format('truetype');
  font-style:italic;
}
@font-face {
  font-family: 'Raleway', sans-serif;
  src:url("fonts/Raleway-BoldItalic.ttf") format('truetype');
  font-weight: bold;
  font-style:italic;
}
head {
    display: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
title {
    display: none;
}
link {
    display: none;
}
body {
    text-align: center;
    list-style-position: inside;
}
header {
    display: block;
}
h1 {
    display: block;
}
p {
    text-align: center;
    list-style-position: inside;
}
ul {
    text-align: center;
    list-style-position: inside;
}
li {
    text-align: center;
    list-style-position: inside;
}
main {
    display: block;
}
section {
    display: block;
}
h2 {
    display: block;
}
footer {
    display: block;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}
* {
	background-color:#A3DFAD;
	color:#D4006A;
}
